body {
    background-color:whitesmoke;
    padding: 10px;
    text-align: center;
}
nav{
    
    font-size: 30px;
    text-align: center;
    color: gray;
    
}
iframe{
	border:none;
}
div{
	margin:10px;
	color:green;
}
section{
	display:inline;
}
canvas{
	display:inline;
}
nav a{
    font-size: 150px;
    color: rebeccapurple;
    background-image: url('giphy.gif');
    
}
footer{
	margin:0px;
}